@use "../src/styles/color.scss" as *;
@use "../src/styles/reset.scss" as *;

.project {
  padding: 1.5rem;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    background-color: $accent-color;
    padding: 0.7rem 0;
  }
}

@media screen and (min-width: 768px) {
  .project{
    padding: 2.5rem;
    &__title{
      font-size: 3rem;
      width: 100%;
    }
    &__container{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
    }
  }
}
@media screen and (min-width: 1024px) {
  .project__container{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .project{
    padding: 2.5rem;
    &__title{
      font-size: 3rem;
      width: 100%;
    }
    &__container{
      flex-wrap: wrap;
      width: 100%;

    }
  }
}