@use "../../styles/color.scss" as *;
@use "../../styles/reset.scss" as *;

.nav {
  width: 100%;
  .MuiBottomNavigationAction-root {
    color: #000;
    .Mui-selected {
      color: $accent-color;
    }
    .MuiSvgIcon-root {
      font-size: 1.5rem;
      color: #000;
    }
  }
}
